<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가 html은 head부터 로딩하므로 css는 해더에서, 자바스크립트코드는 풋터에서 하는게 좋다.-->
<script src="/js/app/index.js"></script><!-- 스프링의 js,CSS,이미지등 정적파일의 시작절대경로는 resource/static/이다. -->
</body>
</html>